:root {
    --color-border: #D9FFF5;
    --color-bg-page: #F8F8F8;
    --color-main: #FFFFFF;
    --color-accent: #41F6D7;
    --color-text-menu: #7E7E82;
    --color-text-content: #1B1C21;
    --color-shadow:  #0E185033;
    --swiper-pagination-color: #B5B6BC;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes/TTLakes-Regular.ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../fonts/TTLakes/TTLakes-Bold.ttf');
    font-weight: 700;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    padding: 0;
}

.brands-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0 16px 16px;
    border-top: 1px solid var(--color-accent);
}

.swiper {
    width: 100%;
}

.swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


    padding-bottom: 36px;

}

.title {
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: var(--color-text-menu);
    margin: 0;
}

.swiper-slide__shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    width: 15px;
    height: 100%;
    background: linear-gradient(to left, var(--color-bg-page), rgba(248,248,248,0));

    pointer-events: none;
}

@media (min-width: 768px) {

}
